extends layout

block content
  h1= title
  p These are the tasks:
    ul
      each task in tasks
        li= task.title
  form(method='POST' action='/create')
    input(type='text' name='title' required)
    input(type='submit' value='Create')
